/**
* Footer
*
 */

.footer-wave {
    fill: #4a5568;
}

/*.footer::after {
    content: "";
    width: 100%;
    height: 120px;
    background: url("https://tailwindcomponents.com/svg/waves-footer.svg");
    background-position: bottom;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -115px;
}
*/
